
@font-face {
  font-family: 'TT Fellows';
  src: url('./assets/fonts/TT\ Fellows\ Trial\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --text: #85888E;
  --text-h: #181A1F;
  --icon: #2B2E33;
  --bg: #fff;
  --border: #e5e4e7;
  --main-bg: #F5F5F5;
  --social-bg: rgba(244, 243, 236, 0.5);
  --tag-bg: #E2E2E4;
  --border: 1px solid #E2E2E4;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'TT Fellows', system-ui, Roboto, 'Segoe UI', sans-serif;
  --p-sans: 'PT Sans', system-ui, Roboto, 'Segoe UI', sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background-color: var(--main-bg);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}